<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>DATOS BANCARIOS DEL EMPRENDEDOR</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-header>
        <p *ngIf="estadoValorTotal"><strong>RECUERDA!</strong></p>
        <p *ngIf="estadoValorTotal"><strong>Sube primero tu comprobante antes de finalizar la compra,caso contrario no se podrá validar tu transacción</strong></p>
        <p *ngIf="estadoValorTotal"><strong>SUBA EL COMPROBANTE A LA CUENTA DE SU PREFERENCIA</strong></p>
      </mat-card-header>
      <div *ngFor="let cuenta of cuentasBancarias" class="cuenta-card">
        <mat-card class="cuenta-details-card">
          <mat-card-header>
            <mat-card-title>{{ cuenta.banco }}</mat-card-title>
            <mat-card-subtitle>{{ cuenta.tipCuenta }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p><strong>Número de Cuenta:</strong> {{ cuenta.numCuenta }}</p>
            <p><strong>Nombre:</strong> {{ cuenta.nombre }} {{ cuenta.apellido }}</p>
            <p *ngIf="estadoValorTotal"><strong>VALOR TOTAL A PAGAR:</strong> {{total}}</p>
          </mat-card-content>
        </mat-card>
        <mat-card-actions class="button-crear-container"*ngIf="estadoValorTotal">
            <input type="file" (change)="onFileSelected($event)">
            <button mat-raised-button color="blue" (click)="subirComprobante(cuenta)">Subir Comprobante</button>
            <div class="button-carrito-container">
              <button mat-raised-button color="accent" type="button" (click)="regresarAProductos()">VOLVER AL CARRITO</button>
            </div>
        </mat-card-actions>
      </div>
    </mat-card-content>

  </mat-card>
  <div class="button-crear-container" >
    <button *ngIf="estadoValorTotal" mat-raised-button color="accent" type="button" (click)="realizarCompra()">FINALIZAR COMPRA</button>
  </div>
  <!-- <div class="button-crear-container">
  <button mat-raised-button color="accent" type="button" (click)="crearCuentaBancaria()"*ngIf="isEmprendedor estadoValorTotal">AÑADIR CUENTA BANCARIA</button>
  </div> -->
  <div class="button-container">
    <button mat-raised-button color="accent" type="button" (click)="regresar()">REGRESAR</button>
  </div>
</div>
