.categoria-list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.categoria-table {
  width: 100%;
  border-collapse: collapse;
}
.categoria-table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.categoria-table td:first-child {
  border-right: 1px solid #ddd; /* Añadir borde derecho */
}

.categoria-table td:first-child,
.categoria-table td:last-child {
  border-left: 1px solid #ddd; /* Añadir borde izquierdo */
}

.categoria-table td:nth-child(odd) {
  background-color: #f9f9f9; /* Alternar el color de fondo para facilitar la lectura */
}

.categoria-table td:nth-child(even) {
  background-color: #ffffff; /* Alternar el color de fondo para facilitar la lectura */
}

.categoria-table td:first-child {
  border-right: 1px solid #ddd; /* Añadir borde derecho */
}

.categoria-table td:last-child {
  border-left: 1px solid #ddd; /* Añadir borde izquierdo */
}

.categoria-table td {
  padding: 10px;
}

.categoria-table td:first-child {
  border-right: 1px solid #ddd; /* Añadir borde derecho */
}

.categoria-table td:last-child {
  border-left: 1px solid #ddd; /* Añadir borde izquierdo */
}

.categoria-table td {
  padding: 10px;
}

.category-name {
  border: 1px solid #add8e6; /* Borde azul claro */
  border-radius: 4px;
  padding: 8px;
}


.categoria-table th,
.categoria-table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-button,
.return-button {
  padding: 10px 20px;
}

.delete-button {
  color: black;

  padding: 4px;
  border-radius: 50%;
}

.input-container {
  margin-top: 20px;
}

.category-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.delete-button {
  display: flex;
  align-items: center;/* Borde cuadrado azul */
  border-radius: 4px; /* Borde redondeado */
  padding: 5px; /* Espaciado interno */
}

.delete-button mat-icon {
  margin-right: 5px;
  color: red; /* Espacio entre el icono y el texto */
}

.delete-button span {
  font-size: 14px; /* Tamaño de fuente del texto */
  font-weight: bold; /* Negrita */
}


