<div class="categoria-list-container">
  <h1 class="title">Listado de Categorías</h1>
  <div class="table-container">
    <table class="categoria-table">
      <thead>
        <tr>
          <th>NOMBRE</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td class="category-name">{{ categoria }}</td>
          <td>
            <div class="delete-button" (click)="eliminarCategoria(categoria)">
              <button mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
              <span>ELIMINAR CATEGORIA</span>
            </div>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" class="add-button" type="button" (click)="agregarCategoria()">Añadir Categoría</button>
    <button mat-raised-button color="accent" class="return-button" type="button" (click)="regresar()">Regresar</button>
  </div>
  <div class="input-container">
    <input [(ngModel)]="nombreCategoria" class="category-input" placeholder="Nombre de la categoría" />
  </div>
</div>
