html, body {
    height: 100%;
    margin: 0;
}

mat-sidenav-container {
    display: flex;
    flex-direction: column;
    min-height: 100%; 
}

mat-sidenav-content {
    flex: 1; /* Permite que el contenido se expanda */
}
