.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-card {
  background: white;
  padding: 2rem;
  border-radius: 12px; /* Borde redondeado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  opacity: 0.9; /* Opacidad */
  transition: opacity 0.3s, transform 0.3s; /* Animaciones */
}

.login-card:hover {
  opacity: 1;
  transform: translateY(-5px); /* Efecto de elevación */
}

.login-card h1 {
  font-size: 1.5rem;
  color: #3f51b5;
  text-align: center;
  margin-bottom: 1rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 12px; /* Borde redondeado */
}

input {
  border-radius: 12px; /* Borde redondeado */
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 1rem;
}

.options a {
  color: #3f51b5;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.3s; /* Animación para el color */
}

.options a:hover {
  color: #303f9f; /* Color diferente al hacer hover */
}

button {
  width: 100%;
  border-radius: 12px; /* Borde redondeado */
  transition: background-color 0.3s, transform 0.3s; /* Animaciones */
}

button:hover {
  background-color: #303f9f;
  transform: translateY(-2px); /* Efecto de elevación */
}
