<mat-card>
  <mat-card-header>
    <mat-card-title>ECOMMERCE LA TOLA</mat-card-title>
    <mat-card-title>Bienvenido/a Ingrese sus datos:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" formControlName="username">
        <mat-error *ngIf="formulario.controls['username'].hasError('required') && formulario.controls['username'].touched">
          El nombre de usuario es obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="formulario.controls['password'].hasError('required') && formulario.controls['password'].touched">
          La contraseña es obligatoria
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!formulario.valid">Ingresar</button>
    </form>

    <button mat-button color="accent" (click)="goToRegister()">Registrarse</button>
    <a mat-button color="warn" (click)="goToResetContrasena()">¿Olvidaste tu contraseña?</a>
    <button mat-button color="accent" (click)="goToDashboard()">Regresar</button>
  </mat-card-content>
</mat-card>
