<!-- <div class="product-list-container">
    <h1 class="title">Listado de Productos</h1>
   
    <div class="button-container">
      <button mat-raised-button color="accent" type="button" (click)="regresar()">Regresar</button>
    </div>
    <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DESCRIPCIÓN</th>
            <th>STOCK</th>
            <th>PRECIO</th>
            <th>IMAGEN</th>
            <th>CATEGORIA</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index; trackBy: trackById">
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.username}}</td>
            <td>{{user.numero}}</td>
              <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
                <mat-icon>delete</mat-icon>
              </button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   -->