<div class="compras-list-container">
    <h1 class="title">RECIBOS DE COMPRA</h1>
    
    <div class="button-container">
        <button mat-raised-button color="accent" type="button" (click)="regresar()">Regresar</button>
      </div>
    </div>
    <div class="table-container">
      <table class="ventas-table">
        <thead>
          <tr>
            <th>EMPRENDEDOR</th>
            <th>PRODUCTOS COMPRADOS</th>
            <th>VALOR TOTAL PAGADO</th>
            <th>COMPROBANTE</th>
            <th>ESTADO DEL COMPROBANTE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of ventas; let i = index;">
            <td>{{venta.sellerUsername}}</td>
            <td>{{venta.productName}}</td>
            <td>{{venta.valorventaunitario}}</td>
            <td><img src="{{venta.paymentProofUrl}}" alt="Imagen del producto" class="product-image"></td>
            <td>{{venta.state}}</td>
        </tbody>
      </table>
    </div>
 