<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <!-- Lista de navegación -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button class="category-button" [matMenuTriggerFor]="appMenu">
        CATEGORIAS
      </button>
      
      <mat-menu #appMenu="matMenu" class="app-menu">
        <button mat-menu-item class="menu-item">Artesanías</button>
        <button mat-menu-item class="menu-item">Alimentos</button>
        <button mat-menu-item class="menu-item">Vestimenta</button>
        <button mat-menu-item class="menu-item">Otros</button>
      </mat-menu>
      
      <span class="spacer"></span>
      <div class="user-info" *ngIf="isLogged">
        <mat-icon>person</mat-icon>
        <span mat-button [matMenuTriggerFor]="userMenu">{{ username }}</span>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="navigateToListar()" *ngIf="isEmprendedor">MIS PRODUCTOS</button>
          <button mat-menu-item (click)="navigateToCreate()"*ngIf="isEmprendedor">SUBIR PRODUCTO</button>
          <button mat-menu-item (click)="navigateToCreate()"*ngIf="isEmprendedor">MIS VENTAS</button>
          <button mat-menu-item (click)="navigateToCrearCategoria()"*ngIf="isAdmin">GESTIONAR CATEGORIAS</button>
          <button mat-menu-item (click)="navigateToListar()"*ngIf="isAdmin">GESTIONAR PRODUCTOS</button>
          <button mat-menu-item (click)="navigateToMisCompras()"*ngIf="isProCliente">MIS COMPRAS</button>
          <button mat-menu-item (click)="navigateToCatalogo()"*ngIf="isProCliente">VER PRODUCTOS</button>
        </mat-menu>
      </div>
      <button mat-button class="logout-button" (click)="logout()">
        <mat-icon class="logout-icon">logout</mat-icon>
        <span class="logout-text">Cerrar Sesión</span>
      </button>
      
      
    </mat-toolbar>
    <!-- Body content -->
    <div class="body-content">
      <div class="intro-section">
        <h1>Bienvenidos a Nuestra Plataforma</h1>
        <p>
          En TolalaVida, nos apasiona transformar tus sueños emprendedores en realidades exitosas. Sabemos que cada negocio tiene una historia única y estamos aquí para ayudarte a escribir la tuya con éxito y estilo.
        </p>
        <p>
          ¿Por qué elegirnos?

          Fácil y rápido: Nuestra plataforma intuitiva te permite crear tu tienda online en minutos, sin necesidad de conocimientos técnicos.
          Personalización completa: Dale vida a tu visión con nuestras herramientas de diseño y personalización. Desde el logo hasta el último detalle del diseño de tu tienda, tú decides cómo se ve.
          Gestión eficiente: Administra tus productos, pedidos y clientes desde un solo lugar con nuestro panel de control sencillo y potente.
          Soporte 24/7: Nuestro equipo de soporte está disponible en cualquier momento para ayudarte a resolver cualquier duda o problema que puedas tener.
          Crecimiento sostenible: Ofrecemos recursos y asesoría para que tu negocio no solo se mantenga, sino que prospere en un mercado competitivo.
        </p>
        <p>
          Nuestro objetivo es proporcionar una experiencia de compra única y personalizada, conectando a compradores con vendedores locales. Explora nuestras categorías y descubre productos únicos creados con pasión y dedicación.
        </p>
      </div>
    </div>
    <!-- Footer -->
    <mat-toolbar color="primary" class="footer">
      <span>© 2024 Martin Jimenez
