.home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea al inicio (debajo del header) */
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    background-image: url(/assets/logoHome.png);
  }
  
  .category-links {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos homogéneamente */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    gap: 20px;
    margin-top: 20px;
  }
  
  /* Estilos para los botones */
  .category-links a {
    background-color: #2196F3; /* Azul Material Design */
    color: white;
    padding: 10px 20px; /* Tamaño mediano */
    border-radius: 4px;
    text-decoration: none;
  }
  

  
