<!-- <div>
  <h2>Realizar Compra</h2>
  <form (ngSubmit)="realizarCompra()">
    <mat-form-field appearance="fill">
      <mat-label>Producto ID</mat-label>
      <input matInput [(ngModel)]="productoId" name="productoId" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cantidad</mat-label>
      <input matInput type="number" [(ngModel)]="stock" name="stock" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Comprar</button>
  </form>
</div> -->
