<div class="ventas-list-container">
    <h1 class="title">Listado de Productos</h1>
    
    <div class="button-container">
        <button mat-raised-button color="accent" type="button" (click)="regresar()">Regresar</button>
      </div>
    </div>
    <div class="table-container">
      <table class="ventas-table">
        <thead>
          <tr>
            <th>CLIENTE</th>
            <th>PRODUCTOS COMPRADOS</th>
            <th>VALOR TOTAL A PAGAR</th>
            <th>COMPROBANTE</th>
            <th>ESTADO DEL COMPROBANTE</th>
          </tr>
        </thead>
        <tbody>
       
        </tbody>
      </table>
    </div>
 