<div class="dashboard-container" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
  <div class="content-wrapper">
    <div class="button-container">
      <button class="action-button" (click)="navigateToRegister()">Registro</button>
      <button class="action-button" (click)="navigateToLogin()">Iniciar Sesión</button>
    </div>
    <div class="info-panel">
      <h2>BIENVENIDOS A ECOMMERCE LA TOLA</h2>
      <p>Bienvenidos a Ecommerce La Tola, su plataforma confiable para comprar y vender productos en barrios rurales. Únete a nuestra comunidad y descubre la facilidad de comprar y vender en línea. Aprovecha la comodidad, seguridad y apoyo a la comunidad que ofrecemos.</p>
    </div>
  </div>
</div>
