<div class="dashboard-container" [ngStyle]="{'background-image': 'url(' + images[currentImageIndex] + ')'}">
  <mat-toolbar color="primary" class="header-toolbar">
    <span class="toolbar-title">TolalaVida Ecommerce</span>
    <span class="spacer"></span>
    <button mat-button (click)="navigateToRegister()">Registro</button>
    <button mat-button (click)="navigateToLogin()">Iniciar Sesión</button>
  </mat-toolbar>

  <div class="main-content">
    <div class="info-panel">
      <h2>BIENVENIDOS A ECOMMERCE LA TOLA</h2>
    </div>
  </div>

  <mat-toolbar color="primary" class="footer-toolbar">
    <span>© 2024 Martin Jimenez</span>
  </mat-toolbar>
</div>
